<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset=" utf-8" />
	<title>社員一覧</title>
</head>

<body>
	<h1>社員一覧</h1>

	<table border="1">
		<thead>
			<tr>
				<th>No</th>
				<th>氏名</th>
				<th>出身地</th>
				<th>入社月</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="employee : ${employees}">
				<td th:text="${employee.id}"></td>
				<td th:text="${employee.name}"></td>
				<td th:text="${employee.hometown}"></td>
				<td th:text="${employee.joiningMonth}"></td>
				<td><button type="submit">詳細</button></td>
			</tr>

		</tbody>
	</table>
</body>

</html>